Social Media Content Engine.json
{
  "name": "Social Media Content Engine",
  "nodes": [
    {
      "parameters": {
        "formTitle": "AI Social Media Content Engine",
        "formDescription": "Generate a 7-day AI-powered social media content calendar for your business.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Business Name"
            },
            {
              "fieldLabel": "Industry"
            },
            {
              "fieldLabel": "Target Audience"
            },
            {
              "fieldLabel": "Content Goal"
            },
            {
              "fieldLabel": "Email Address",
              "fieldType": "email"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "id": "e4cead29-59d1-4d50-969f-721b1853270d",
      "name": "On form submission",
      "webhookId": "b89c6878-3364-4b79-be37-3115de820f66"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert social media strategist.\n\nCreate a 7-day social media content calendar.\n\nBusiness Name:\n{{$json[\"Business Name\"]}}\n\nIndustry:\n{{$json[\"Industry\"]}}\n\nTarget Audience:\n{{$json[\"Target Audience\"]}}\n\nContent Goal:\n{{$json[\"Content Goal\"]}}\n\nGenerate exactly 7 social media posts.\n\nFor each post provide:\n- day\n- post_type\n- caption\n- cta\n- hashtags\n\nReturn ONLY valid JSON.",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        288,
        0
      ],
      "id": "b4688868-a5d8-4717-8a31-3e183aba7fa9",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        288,
        192
      ],
      "id": "38f8c70c-7048-43ac-93be-d035a9f72a2c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "PxCrtHk51BwztlaX",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"posts\": [\n    {\n      \"day\": 1,\n      \"post_type\": \"Educational\",\n      \"caption\": \"Example caption\",\n      \"cta\": \"Learn more\",\n      \"hashtags\": \"#example\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        432,
        208
      ],
      "id": "58977b7e-c9fe-46c8-a9a9-94ffdcd06610",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "11h9IfGwO8gACLMv1IyyX4-wxvA5oK4BnG-mrkkZ8bXg",
          "mode": "list",
          "cachedResultName": "Social_Media_Content_Calendar",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11h9IfGwO8gACLMv1IyyX4-wxvA5oK4BnG-mrkkZ8bXg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11h9IfGwO8gACLMv1IyyX4-wxvA5oK4BnG-mrkkZ8bXg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Day": "={{$json.day}}",
            "Post Type": "={{$json.post_type}}",
            "Caption": "={{$json.caption}}",
            "CTA": "={{$json.cta}}",
            "Hashtags": "={{$json.hashtags}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Day",
              "displayName": "Day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post Type",
              "displayName": "Post Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CTA",
              "displayName": "CTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hashtags",
              "displayName": "Hashtags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        912,
        0
      ],
      "id": "90b9a35d-13f7-40d5-911e-8d0607ea2e7d",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1NmdFH968aSwp0Zm",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const posts = $input.first().json.output.posts;\n\nreturn posts.map(post => ({\n  json: post\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "d4a9f864-9e6a-4299-a6a6-721167ee11a0",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "={{$('On form submission').first().json['Email Address']}}",
        "subject": "Your 7-Day Social Media Content Calendar is Ready 🚀",
        "message": "=<h2>🚀 7-Day Social Media Content Calendar</h2>\n\n<p>Hello {{$items(\"On form submission\")[0].json[\"Business Name\"]}},</p>\n\n<p>Your AI-generated content calendar has been successfully created.</p>\n\n<hr>\n\n<p><strong>Industry:</strong> {{$items(\"On form submission\")[0].json[\"Industry\"]}}</p>\n\n<p><strong>Target Audience:</strong> {{$items(\"On form submission\")[0].json[\"Target Audience\"]}}</p>\n\n<p><strong>Content Goal:</strong> {{$items(\"On form submission\")[0].json[\"Content Goal\"]}}</p>\n\n<hr>\n\n<p>Your complete 7-day content calendar has been generated and saved successfully in Google Sheets.</p>\n\n<h3>Content Plan Summary</h3>\n\n<table border=\"1\" cellpadding=\"8\" cellspacing=\"0\" width=\"100%\">\n<tr>\n<th>Day</th>\n<th>Content Type</th>\n</tr>\n\n<tr>\n<td>Day 1</td>\n<td>Educational Post</td>\n</tr>\n\n<tr>\n<td>Day 2</td>\n<td>Testimonial</td>\n</tr>\n\n<tr>\n<td>Day 3</td>\n<td>How-To Post</td>\n</tr>\n\n<tr>\n<td>Day 4</td>\n<td>Video Content</td>\n</tr>\n\n<tr>\n<td>Day 5</td>\n<td>Infographic</td>\n</tr>\n\n<tr>\n<td>Day 6</td>\n<td>Carousel Post</td>\n</tr>\n\n<tr>\n<td>Day 7</td>\n<td>Engagement/Poll Post</td>\n</tr>\n</table>\n\n<br>\n\n<p>✅ 7 Content Ideas Generated</p>\n<p>✅ Captions Included</p>\n<p>✅ CTAs Included</p>\n<p>✅ Hashtags Included</p>\n<p>✅ Saved to Google Sheets</p>\n\n<hr>\n\n<p>Generated automatically by the AI Social Media Content Engine.</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1408,
        0
      ],
      "id": "0008c46b-fc6c-44c7-969e-fbcb42aff7c3",
      "name": "Send a message",
      "webhookId": "da6c7989-c84a-44e7-a219-a505f19195e3",
      "credentials": {
        "gmailOAuth2": {
          "id": "JdwI1IPGaNDiMquH",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [items[0]];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        0
      ],
      "id": "587fc3c6-4420-45ce-a684-ee05310f6d4b",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e871a903-1606-417d-b2b1-12ad08f0ce48",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "42a63ec638b4c5852a90f6d631375659949a654660fccabb265195d54543950e"
  },
  "nodeGroups": [],
  "id": "N34KxtCgd9P8AYP8",
  "tags": []
}